POSTGRES_USER=postgres
POSTGRES_PASSWORD=root
POSTGRES_DB=postgres
POSTGRES_PORT=5432
POSTGRES_HOST=localhost
PINECONE_API_KEY=
AZURE_API_KEY=
GITHUB_TOKEN=
HF_TOKEN=
JWT_SECRET_KEY=
JWT_EXPIRATION_HOURS=
QDRANT_API_KEY=
QDRANT_URL=
